
.bools {
		margin: 10px;
}

.ints {
		margin: 10px;
}

.float64s {
		margin: 10px;
}

.strings {
		margin: 10px;
}

.choices {
		margin: 10px;
}

.go-bool {
    margin-left: 10px;
}

.go-int {
		margin-left: 10px;
}

.go-float64 {
		margin-left: 10px;
}

.go-string {
		margin-left: 10px;
}

.go-choice {
		margin-left: 10px;
}

.go-slice {
		display: block;
		margin: 10px;
		padding: 5px;
		border: 1px solid black;
}

.go-struct {
		margin: 10px;
		padding: 5px;
		border: 1px solid black;
}

.go-struct-field {
		border-bottom: 1px solid grey;
}
